body {
    margin: 0px;
    font-family: sans-serif;
}

/* header */

header {
    position: sticky;
    top: 0px;
    background-color: #ff6900;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 77%;
    margin: auto;
    padding: 10px;
    align-items: center;
}

#logo { 
    width: 150px;
}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

nav > :nth-child(3){
    padding: 0px 0px 0px 100px;

}

/* main */

main {
    width: 77%;
    margin: auto; 
    margin-top: 60px;  
    background-color: indianred;
}

.container.shop {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.item {
    position: relative;
}

img {
    width: 350px;
}

.item > p, h3 {
    margin: 0px;
}

.discount, .sostenibility, .favorite {
    position: absolute;
    padding: 5px;
}

.discount {
    bottom: 100px;
    background-color: red;
    color: white;
    font-weight:bold;
}
.sostenibility {
    bottom: 100px;
    left: 45px;
    background-color: green;
    color: white;
    font-weight:bold;
    margin-left: 10px;
}

.favorite{
    right: 0px;
    top: 10px;
    background-color: white;
    padding: 5px 10px;
    border: 0px;
    font-size: 25px;
}

/* debug */

