* {
    font-family: sans-serif;
}

header {
    background-color: #ff6900;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

#logo { 
    width: 150px;

}